nav {
  background-color: #e7e7e7
}

nav a {
  color: #868688;
}

nav a:hover {
  color: #606062;
  text-decoration: none;
}

.navbar-toggle .icon-bar {
  background-color: #868688;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.play-js {
  margin: 0 auto;
}

input {
  margin-top: 15px;
  min-width: 450px;
  padding: 5px;
}
.play-js.play-hls-quality-selector{display:block}


    nav {
        background-color: #e7e7e7
      }

      nav a {
        color: #868688;
      }

      nav a:hover {
        color: #606062;
        text-decoration: none;
      }

      .navbar-toggle .icon-bar {
        background-color: #868688;
      }

      .starter-template {
        padding: 40px 15px;
        text-align: center;
        margin: 0 auto;
        width: 55em;
      }

      .play-js {
        margin: 0 auto;
      }

      .link-to{
      background-color: #4285f4;
      color: #fff;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
      margin: .375rem;
      text-transform: uppercase;
      word-wrap: break-word;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      -webkit-tap-highlight-color: transparent;
      border-color: #007bff;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      text-decoration: none;
      }
      .link-to.active{
        background-color: #06142b;
      }
      input {
        margin-top: 15px;
        min-width: 450px;
        padding: 5px;
      }
